﻿@section styles {
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/app.css" rel="stylesheet" />
}

@section scripts {
    <script type="text/javascript" src="~/Scripts/libs/runtime.js"></script>
    <script type="text/javascript" src="~/Scripts/libs/polyfills.js"></script>
    <script type="text/javascript" src="~/Scripts/libs/styles.js"></script>
    <script type="text/javascript" src="~/Scripts/libs/vendor.js"></script>
    <script type="text/javascript" src="~/Scripts/libs/main.js"></script>
    <script src="~/Scripts/jquery-1.9.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/classie.js"></script>
    <script src="~/Scripts/cbpAnimatedHeader.js"></script>
    <script src="~/Scripts/jquery.easing.1.3.js"></script>
    <script src="~/Scripts/jquery.stellar.js"></script>
    <script src="~/Scripts/scrolling.js"></script>
}

<header id="top">
    <nav class="navbar navbar-inverse navbar-fixed-top cbp-af-header"
         role="navigation">
        <div class="container-fluid">
            <a class="navbar-brand" href="#top">Clockwork</a>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle Nav</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#top">Home</a></li>
                    <li><a href="#data">Data</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container-fluid">
    <section class="row title-row">
        <div class="fill-screen stellar-bg"
             style="background-image: url(../../images/sunrise.jpg)"
             data-stellar-background-ratio="0.2">
            <h1 class="title-text">Welcome <i>My Friend</i></h1>
            <div class="down-button">
                <a class="btn" href="#data">
                    <i class="fa fa-arrow-circle-down fa-4x"></i>
                </a>
            </div>
        </div>
    </section>
    <section id="data" class="row">
        <div class="fill-screen stellar-bg">
            <section class="row text-banner">
                <h1>Clockwork Data</h1>
                <h3>The grid below shows every request to this application's API. Request can be triggered by clicking the submit button, sorting and changing the page of the grid.</h3>
            </section>
            <current-times></current-times>
        </div>
    </section>
</div>
<footer class="container-fluid">
    <div class="row">
        <h3>CONTACT US</h3>
        <p>Email: jefdeguzman78@yahoo.com</p>
    </div>
</footer>
