﻿body {
    position: relative;
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    margin-bottom: 0px;
    padding: 10px 15px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.navbar-inverse .navbar-brand {
    padding: 15px 0px;
    color: #bbb;
}

@media (max-width: 400px) {
    .navbar-header {
        position: relative;
    }

    .navbar img {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 70%;
    }
}

.navbar-inverse .navbar-nav > li > a {
    color: #bbb;
}

.cbp-af-header-shrink {
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0.9;
}

.fill-screen {
    background-size: cover;
    background-position: center;
}

.title-row {
    position: relative;
    min-height: 300px;
}

.title-text {
    position: absolute;
    padding: 20px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    color: #fff;
}

.down-button {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
}

    .down-button i {
        color: white;
    }

.fixed-attachment {
    background-attachment: fixed;
}

@media (max-width: 1024px) {
    .fixed-attachment {
        background-attachment: scroll;
    }
}


.text-banner {
    text-align: center;
    margin: 15px 20px;
}

    .text-banner h1 {
        font-size: 44px;
    }

    .text-banner p {
        font-size: 18px;
    }

@media (max-width: 767px) {
    .navbar-inverse .navbar-brand {
        margin-left: -10px;
    }

    .text-banner {
        margin: 0px 20px;
    }

    .text-banner h1 {
        font-size: 20px;
    }

    .text-banner h3 {
        font-size: 16px;
        text-align: left;
    }

    .section-overflow {
        margin-bottom: 60px;
    }

    /*.mat-table {
        max-height: 300px !important;
    }*/
}

.activity-section {
    margin: 50px;
}

.activity-element {
    text-align: center;
}

    .activity-element img {
        width: 150px;
        height: 150px;
    }

.contact-us {
    margin: 50px;
    text-align: center;
}

footer {
    background-color: #333;
    color: #ddd;
    padding: 20px;
    text-align: center;
}

aside {
    background-color: #f7f7f7;
    text-align: center;
    padding-top: 40px;
}

.container-xs-height {
    display: table;
    padding-left: 0px;
    padding-right: 0px;
}

.row-xs-height {
    display: table-row;
}

.col-xs-height {
    display: table-cell;
    float: none;
}

@media (min-width: 768px) {
    .container-sm-height {
        display: table;
        padding-left: 0px;
        padding-right: 0px;
    }

    .row-sm-height {
        display: table-row;
    }

    .col-sm-height {
        display: table-cell;
        float: none;
    }
}

@media (min-width: 992px) {
    .container-md-height {
        display: table;
        padding-left: 0px;
        padding-right: 0px;
    }

    .row-md-height {
        display: table-row;
    }

    .col-md-height {
        display: table-cell;
        float: none;
    }
}

@media (min-width: 1200px) {
    .container-lg-height {
        display: table;
        padding-left: 0px;
        padding-right: 0px;
    }

    .row-lg-height {
        display: table-row;
    }

    .col-lg-height {
        display: table-cell;
        float: none;
    }
}

.mat-form-field-appearance-legacy .mat-form-field-label {
    color: #424242 !important;
}

.mat-form-field.mat-focused .mat-form-field-label {
    color: #424242 !important;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #fff !important;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: #424242 !important;
}

.section-overflow {
    overflow: auto;
}

.ng-tns-c2-1 {
    color: #424242;
}

.mat-elevation-z8 {
    box-shadow: none !important;
}
