<div class="currenttime-header">
    <mat-form-field>
        <mat-label>Select Time Zone</mat-label>
        <mat-select [(ngModel)]="selectedTimeZone">
            <mat-option [value]='noneOptionTimeZone'>None</mat-option>
            <mat-option *ngFor="let tz of timeZones" [value]="tz">
                {{tz.displayName}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div class="currenttime-button">
    <button mat-raised-button (click)="submitClick()">Submit</button>
</div>
<div class="currenttime-container mat-elevation-z8">

    <mat-table [dataSource]="dataSource" matSort (matSortChange)="sortChange($event)">

        <ng-container matColumnDef="currentTimeId">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.currentTimeId}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="serverTime">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Server Time </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.serverTime | date: 'short'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="clientIp">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Client IP </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.clientIp}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="utcTime">
            <mat-header-cell *matHeaderCellDef mat-sort-header> UTC Time </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.utcTime | date: 'short'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="timeZoneId">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Time Zone </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.timeZoneId}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns" matSort></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[10, 20, 30, 40, 50]" [length]="pageLength" (page)="pageChange($event)"></mat-paginator>
</div>