.currenttime-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin: 8px 24px 0;
}

.currenttime-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.version-info
{
  display: none !important;
}

.currenttime-button
{
  display: flex;
  padding: 10px 24px 20px;
}